.row
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 18px
  padding: 10px 0

  &:first-child
    padding-bottom: 10px
    padding-top: 0


  &:last-child
    padding-bottom: 0

  & svg
    font-size: 25px

  &_title
    display: flex
    align-items: center
    gap: 16px
    height: 40px

  &_count
    color: #00FFE0
    font-size: 23px

  &_hr
    background-color: rgba(255, 255, 255, 0.12)
    width: 80%
    height: 1px
    margin: 0 auto