.wrapper
  background-color: #20242D
  border-radius: 25px
  border: 2px solid #FFFFFF1F
  padding: 14px 31px
.titles
  display: flex
  justify-content: space-between
  margin: 0 30px
  padding-bottom: 20px
  color: #C0C0C0B2
  font-size: 14px
  &_right
    display: flex
    gap: 290px
    @media(max-width: 1140px)
      gap: 230px
    @media(max-width: 1053px)
      gap: 190px
    @media(max-width: 1010px)
      gap: 160px
    @media(max-width: 980px)
      gap: 140px
    @media(max-width: 960px)
      .title:nth-child(1)
        display: none



.title
  display: flex
  flex-direction: column
  gap: 8px

  &:after
    content: ''
    display: block
    width: 100%
    height: 2px
    background-color: #FFFFFF1F



