.chat__item
  display: flex
  align-items: center
  justify-content: space-between
  font-size: 18px
  height: fit-content

  &:not(:last-child)
    padding-bottom: 20px

  &_left
    display: flex
    align-items: center
    gap: 10px
    width: 250px
    @media (max-width: 836px)
      width: 150px
      font-size: 15px

    & svg
      font-size: 30px

  &_center
    display: flex
    align-items: center
    gap: 10px
    @media (max-width: 836px)
      font-size: 15px


  &_right
    @media (max-width: 836px)
      font-size: 15px

  &_count
    color: #00FFE0
    font-size: 20px
    margin-left: 10px
    @media (max-width: 515px)
      font-size: 15px
      display: flex
      flex-direction: column




.hr
  height: 30px
  width: 2px
  background-color: #FFFFFF1F