.header
  height: 55px
  display: flex
  justify-content: space-between
  align-items: center
  border: 2px solid rgba(255, 255, 255, .12)
  padding: 0 5px 0 31px
  border-radius: 20px
  margin-bottom: 23px
  background-color: rgba(32, 36, 45, 1)
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
  position: sticky
  top: 10px
  z-index: 100

.logo
  @media(max-width: 945px)
    padding-left: 10px
    padding-top: 3px
.burger
  display: flex
  flex-direction: inherit
  align-items: center


.hamburger
  display: none
  flex-direction: column
  justify-content: space-between
  width: 24px
  cursor: pointer
  &_span
    display: block
    height: 2px
    background-color: #fff
    transition: all 0.3s ease
    margin-top: 5px
  @media(max-width: 567px)
    display: block
  @media(max-width: 768px)
    display: block
  @media(max-width: 945px)
    display: block

  &.hamburger_active
    span
      &:nth-child(1)
        transform: rotate(45deg) translateY(11px)

      &:nth-child(2)
        opacity: 0

      &:nth-child(3)
        transform: rotate(-45deg) translateY(-10px)




.left_block
  height: 100%
  width: 490px
  display: flex
  align-items: center
  justify-content: space-between
  @media (max-width: 940px)
    display: block
    height: 50%
  @media (max-width: 950px)
    gap: 10px

.navbar
  display: flex
  align-items: center
  height: 100%
  gap: 17px
  @media (max-width: 768px)
    //display: none
  @media(max-width: 945px)
    display: none
  @media (max-width: 576px)
    //display: none

  &__button
    position: relative
    height: 100%
    display: flex
    align-items: center
    transition: all .2s linear

    &:after, &:before
      position: absolute
      content: ''
      display: block
      height: 2px
      width: 100%
      background-color: transparent
      transition: all .2s linear

    &:after
      top: -2px

    &:before
      bottom: -2px

    &:hover
      &:after, &:before
        background-color: #566b78

    &.vip
      color: #00FFE0

.right_block
  width: 430px
  display: flex
  align-items: center
  gap: 13px
  transition: all .2s linear
  @media(max-width: 640px)
    width: 100px


  &.isLogin
    width: 370px
    @media(max-width: 640px)
      max-width: 50px

.vertical_line
  display: block
  content: ''
  height: 28px
  width: 2px
  background-color: #FFFFFF1F
  @media(max-width: 640px)
    display: none


